//baseWidth
$base-width: 1920px;
$main-width: 1860px;
$main-fonts: sawarabi;
$second-fonts: nico;
$third-fonts: kozgo;
$four-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;



//color common
$white-color: #fff;
$gray-color: #f7f7f0;
$black-color: #000;
$text-color: #31302f;
$title-color: #267574;
$btn-color: #25a989;
