/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
.animation-1,

.animation-3,

.animation-5 {
    animation: slideOutDown 1.2s linear infinite alternate;
    
}

.animation-2,
.animation-4,
.animation-6 {
    animation: slideOutDown 1.2s linear infinite alternate;
}

.animations {
    position: relative;
    top: 1270px;
    
}

.animationFadeIn {
    animation: fadeIn 2s ease forwards;
}

.animationFadeOut {
    animation: fadeOut 2s ease forwards;
}

.leaf1AnimationBottom {
    animation: fadeBottom 1s ease forwards;
}

.leaf1AnimationTop {
    animation: fadeTop 1s ease forwards;
}

.leaf2Animationleft {
    animation: fadeLeft 1s ease forwards;
}

.leaf2AnimationRight {
    animation: fadeRight 1s ease forwards;
}





@keyframes slideOutDown {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}
@keyframes slideOutUp {
    0% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}
@keyframes fadeIn {
    0% {
        top: -100vh;
    }

    100% {
        
        top: 0;
    }
}
@keyframes fadeOut {
    0% {
        top: 0;
    }

    100% {
        
        top: -100vh;
    }
}
@keyframes fadeLeft {
    0% {
        right: -50px;
    }
    
    100% {
        right: 0;
        
    }
}
@keyframes fadeRight {
    0% {
        right: 0;
    }
    
    100% {
        right: -50px;
        
    }
}
@keyframes fadeTop {
    0% {
        top: -50px;
    }
    
    100% {
        top: 0;
        
    }
}
@keyframes fadeBottom {
    0% {
        top: 0;
    }

    100% {
        top: -50px;
    }
}




