<footer id="footer" class="c-footer">
  <div class="c-footer__content">
    <div class="c-footer__left">
      <div>商品に関するお問い合わせは</div>
      <p>健栄製薬株式会社</p>
      <span>TEL｜06-6231-5626　受付時間|｜8:45〜17:30(土日祝日を除く) </span>
    </div>
    <div class="c-footer__right">
      <a class="c-footer__logopc" href="#">
        <img src="../_public/assets/img/logo-bottom.png" alt="Pharmaceutical" />
      </a>
      <a class="c-footer__logomb" href="#">
        <img
          src="../_public/assets/img/footer-logomb.png"
          alt="Pharmaceutical"
        />
      </a>
    </div>
  </div>
</footer>
