<header class="c-header">
  <div class="animations animationFadeIn">
    <div class="animation-1">
      <img src="../_public/assets/img/animation-1.png" alt="animations-item" />
    </div>
    <div class="animation-2">
      <img src="../_public/assets/img/animation-2.png" alt="animations-item" />
    </div>
    <div class="animation-3">
      <img src="../_public/assets/img/animation-3.png" alt="animations-item" />
    </div>
    <div class="animation-4">
      <img src="../_public/assets/img/animation-4.png" alt="animations-item" />
    </div>
    <div class="animation-5">
      <img src="../_public/assets/img/animation-5.png" alt="animations-item" />
    </div>
    <div class="animation-6">
      <img src="../_public/assets/img/animation-6.png" alt="animations-item" />
    </div>
  </div>
  <nav class="c-header__menu">
    <div class="c-menu--icon1">
      <img src="../_public/assets/img/bars.png" alt="menu-icon1" />
    </div>
    <div class="c-menu--icon2">
      <img src="../_public/assets/img/menu-icon-2.png" alt="menu-icon2" />
    </div>
    <a href="#top" class="c-header__item">
      <img src="../_public/assets/img/list-img.jpg" alt="トップ" />
      <span>トップ</span>
    </a>
    <a href="#daily" class="c-header__item">
      <img src="../_public/assets/img/list-img.jpg" alt="毎日にハッカ油" />
      <span>毎日にハッカ油</span>
    </a>
    <a href="#column" class="c-header__item">
      <img src="../_public/assets/img/list-img.jpg" alt="製品情報" />
      <span>製品情報</span>
    </a>
    <a href="#qa" class="c-header__item">
      <img src="../_public/assets/img/list-img.jpg" alt="Q&A" />
      <span>Q&A</span>
    </a>
    <a href="#banner" class="c-header__item">
      <img src="../_public/assets/img/list-img.jpg" alt="ハッカ油コラム" />
      <span>ハッカ油コラム</span>
    </a>
    <a href="#footer" class="c-header__item">
      <img src="../_public/assets/img/list-img.jpg" alt="ハッカ油ムービー" />
      <span>ハッカ油ムービー</span>
    </a>
    <div class="c-leaf1-mobi">
      <img src="../_public/assets/img/l-mobi1.png" alt="leaf1" />
    </div>
    <div class="c-leaf2-mobi">
      <img src="../_public/assets/img/l-mobi2.png" alt="leaf2" />
    </div>
  </nav>
  <div id="top" class="c-header__content">
    <div class="c-header__banner">
      <img
        class="c-header__bannermb"
        src="../_public/assets/img/bg-mobi1.jpg"
        alt="banner"
      />
      <img
        class="c-header__bannerpc"
        src="../_public/assets/img/bg-main.jpg"
        alt="banner"
      />
      <div class="c-header__title">
        <p class="c-header__top">
          <img
            class="c-header__pc"
            src="../_public/assets/img/title.png"
            alt="健栄製薬の"
          />
          <img
            class="c-header__mb"
            src="../_public/assets/img/titile-mb.png"
            alt="健栄製薬の"
          />
        </p>
        <span class="c-header__mid">MENTHA OIL</span>
        <p class="c-header__bot">
          <span>ハッカ油は、毎日の暮らしを豊かにする </span>
          <span>魔法のしずく</span>
        </p>

        <a class="c-header__button" href="#">
          <img
            class="c-header__buttonpc"
            src="../_public/assets/img/btn.png"
            alt="ハッカ？ミント？"
          />
          <img
            class="c-header__buttonmb"
            src="../_public/assets/img/btn-mb.png"
            alt="ハッカ？ミント？"
          />
        </a>
      </div>
    </div>
  </div>
  <section id="daily" class="c-header__product">
    <div class="c-header__producttitle">
      <span>使い方いろいろ</span>
      <h1>毎日にハッカ油</h1>
    </div>
    <div class="c-header__productlist">
      <div class="c-header__productitem">
        <div class="c-header__productimg1">
          <img
            class="c-header__productpc1"
            src="../_public/assets/img/image1.png"
            alt="ハッカ水"
          />
          <img
            class="product--mobi1"
            src="../_public/assets/img/imgmb-1.png"
            alt="ハッカ水"
          />
        </div>
        <div class="c-header__productimg2">
          <img
            class="c-header__productpc2"
            src="../_public/assets/img/image2.png"
            alt="ハッカの虫除けスプレー"
          />
          <img
            class="product--mobi2"
            src="../_public/assets/img/imgmb-2.png"
            alt="ハッカの虫除けスプレー"
          />
        </div>
        <div class="c-header__productimg3">
          <img
            class="c-header__productpc3"
            src="../_public/assets/img/image3.png"
            alt="ハッカのリネンウォーター"
          />
          <img
            class="product--mobi3"
            src="../_public/assets/img/imgmb-3.png"
            alt="ハッカのリネンウォーターz"
          />
        </div>
        <div class="c-header__productimg4">
          <img
            class="c-header__productpc4"
            src="../_public/assets/img/image4.png"
            alt="ハッカのエアフレッシュナー"
          />
          <img
            class="product--mobi4"
            src="../_public/assets/img/imgmb-4.png"
            alt="ハッカのエアフレッシュナー"
          />
        </div>
      </div>
      <div class="c-header__productitem2">
        <div class="c-header__productimg5">
          <img
            class="c-header__productpc5"
            src="../_public/assets/img/image5.png"
            alt="ハッカの清涼スプレー"
          />
          <img
            class="product--mobi5"
            src="../_public/assets/img/imgmb-5.png"
            alt="ハッカの清涼スプレー"
          />
        </div>
        <div class="c-header__productimg6">
          <img
            class="c-header__productpc6"
            src="../_public/assets/img/image6.png"
            alt="ハッカマスク"
          />
          <img
            class="product--mobi6"
            src="../_public/assets/img/imgmb-6.png"
            alt="ハッカマスク"
          />
        </div>
        <div class="c-header__productimg7">
          <img
            class="c-header__productpc7"
            src="../_public/assets/img/image7.png"
            alt="ハッカで安息"
          />
          <img
            class="product--mobi7"
            src="../_public/assets/img/imgmb-7.png"
            alt="ハッカで安息"
          />
        </div>
        <div class="c-header__productimg8">
          <img
            class="c-header__productpc8"
            src="../_public/assets/img/image8.png"
            alt="ハッカの入浴剤"
          />
          <img
            class="product--mobi8"
            src="../_public/assets/img/imgmb-8.png"
            alt="ハッカの入浴剤"
          />
        </div>
      </div>
    </div>
  </section>
  <div class="c-leaf1">
    <img src="../_public/assets/img/leaf1.png" alt="leaf1" />
  </div>
  <div class="c-leaf2">
    <img src="../_public/assets/img/leaf2.png" alt="leaf2" />
  </div>
  <div class="c-leaf1-mb">
    <img src="../_public/assets/img/leaf1-mb.png" alt="leafmb" />
  </div>
  <div class="c-leaf2-mb">
    <img src="../_public/assets/img/leaf2-mb.png" alt="leafmb" />
  </div>
</header>
